/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151515+0,151515+100&0+0,0+44,1+56,1+100 */
    /*background: -moz-linear-gradient(to bottom, rgba(21,21,21,0) 64%, rgba(21,21,21,1) 86%), url(../images/BGDeviantArt.png) center/cover no-repeat; ---- FF3.6-15----
    height: 100vh;*/
        
    background-image: url("../images/BGDeviantArt.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.outline1{
    outline: 1px solid wheat;
}

.outline2{
    outline: 1px solid red;
}
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ=========================*/

/*================================= head-wraper ===============================*/

.head-wraperImg{
    padding-top: 195px;
}

.head-menuUl{

    margin-top: 225px;
    font-family: MyriadProRegular, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}
.head-menuUl li{
    display: inline-block;
}

.head-menuUl li a{
    font-size: 18px;
    padding: 15px 25px;
    display: block;
}
.head-menuUl li a:hover{
    background-color: floralwhite;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;

}
/*================================= CLOSE head-wraper =========================*/

.karusel-wraper{
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.ar{
    position: absolute;
    width: 50px;
    height: 90px;
    top: 0;
}
.left{
    left: 0;
}
.left a{
}
.right{
    right: 0;
}
.right a{
}
.ar >img{
    position: absolute;
    display: block;
    height: 36px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.karusel{
    text-align: center;
    font-size: 0;
    margin: 0 50px;
}
.karusel a {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0 2.5%;
    height: 90px;
    position: relative;
}

.karusel a img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
}

.karusel img:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);

}




/*================================= karusel ===============================*/

/*================================= CLOSE karusel =========================*/


/*================================= head-wraper ===============================*/
/*================================= CLOSE head-wraper =========================*/

/*================================= head-wraper ===============================*/
/*================================= CLOSE head-wraper =========================*/
