/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
*{
    margin: 0;
    padding: 0;
}
html{
    background:url(../images/BGDeviantArt.png) right top no-repeat;
}



/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ=========================*/

/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/

/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/


/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/