/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
*{
    margin: 0;
    padding: 0;
}




/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ=========================*/

/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151515+0,151515+100&0+0,0+44,1+56,1+100 */
    background: -moz-linear-gradient(to bottom, rgba(21,21,21,0) 64%, rgba(21,21,21,1) 86%), url(../images/BGDeviantArt.png) center/cover no-repeat; /* FF3.6-15 */
    height: 100vh;
}


/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/



/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/


/*================================= ГЛОБАЛЬНЫЕ НАСТРОЙКИ ===============================*/
/*================================= CLOSE ГЛОБАЛЬНЫЕ НАСТРОЙКИ =========================*/